netCDF4>=1.5
matplotlib
NREL-cloud_fs>=0.0.8
NREL-farms>=1.0.5
NREL-reV<0.8.0
scikit-learn>=1.0
NREL-rest2 @ git+ssh://git@github.com/NREL/rest2.git
mlclouds @ git+ssh://git@github.com/NREL/mlclouds.git